{% extends "base.html" %}

{% block content %}
<div id="notification"  class="alert alert-warning alert-dismissible fade show" role="alert" hidden="true">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<h1>{{ product.product_name }}</h1>
    <h2>${{ product.price }}</h2>
    <h2>{{ product.store }}</h2>
    <h3>{{ product.description }}</h3>
    <a class="btn btn-success" href="/shop/buy/{{ product.id }}" onclick="{notify()}">Buy</a>

<script>
    function notify()
    {
        alert('You have successfully purchased this item.');
    }
</script>
{% endblock content %}
