{% extends "base.html" %}

{% block style %}
<style>
  .prod_name {
        color: red;
    }
    
</style>

{% endblock style %}

{% block content %}
<h1>Products</h1>

<ul>
    {% for product in all_entries %}
        <li>
            <h2 class="prod_name">{{ product.product_name }}</h2>
            <h4>${{ product.price }}</h4>
            <h5>{{ product.store }}</h5>
            <a action="" class="btn btn-primary" href="/shop/product/{{ product.id }}">More info</a>
        </li>    
    {% endfor %}
{% endblock content %}